<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <div class="doc-layout-header">
          <ion-title>
            <h1 class="ign-display-3">Menus</h1>
          </ion-title>
        </div>
      </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <div class="doc-layout">
        <p class="medium-emphasis-text">Simple pattern description</p>
        <h2>Types</h2>
        <p class="medium-emphasis-text">Description of particular type</p>
        <h3 class="subheading-2">Subheading</h3>
        <div class="example-panel">
          <ion-card>
            <ion-grid no-padding>
              <ion-row>
                <ion-col text-center>
                  <h4 class="ign-caption medium-emphasis-text">state</h4>
                </ion-col>
                <ion-col text-center>
                    <h4 class="ign-caption medium-emphasis-text">state</h4>
                </ion-col>           
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>
    
    </ion-content>
