<ion-header no-border>
  <ion-toolbar>
    <div class="dashboard-layout">
      <ion-grid no-padding class="dashboard-header">
        <ion-row>
          <ion-col size="auto" class="ion-align-self-start callout-background callout-border">
            <ion-avatar class="avatar-xl mat-elevation-z2">
              <img src="../assets/images/woman31.jpg" alt="Jackie Taylor">
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-align-self-start callout-background callout-border">
            <h2 class="ign-headline text-primary-color text-bold ion-no-margin">Jackie Taylor</h2>
            <p class="ign-body-1 text-primary-color ion-no-margin">Claims Manager</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="dashboard">
  <div class="dashboard-layout">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="4">
          <ion-grid>
            <h2>Briefing</h2>
            <ion-row>
              <ion-col>
                <ion-card *ngFor="let b of briefings">
                  {{b.description}}
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="12" size-sm="8">
          <ion-grid>
            <h2>What's happening</h2>
            <ion-row>
              <ion-col *ngFor="let d of days">
                <ion-card>
                  {{d.weekday}}
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

  <ion-tab-bar slot="bottom" selected-tab="home">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inbox">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger">7</ion-badge>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="team">
      <ion-icon name="people"></ion-icon>
      <ion-label>Team</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
