<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button size="large">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="card-over-title">
        <h1>Fab Example 2</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
        <ion-fab-button color="secondary" >
          <ion-icon name="edit"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
