<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="large" (click)="presentCancelAlert()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="card-over-buttons">
      <ion-button #saveButton1 fill="clear" (click)="successToast()">Save</ion-button>
      <!-- ion-button size="large"> <ion-icon slot="start" name="more"></ion-icon></ion-button-->
    </ion-buttons>
    <ion-title class="card-over-title">
      <h1>Edit Time Off Request</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-over-content">
  <ion-toolbar class="card-over-toolbar" color="primary" ion-fixed no-padding>
    &nbsp;
  </ion-toolbar>
  <ion-card class="card-over-card">
    <ion-card-header>
      <ion-card-title>
        <h1>Edit Time Off Request</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-over-content">
      <form name="companyInfoForm" #companyInfoForm="ngForm" (ngSubmit)="onSubmit(companyInfoForm)">

        <ion-grid class="grid-form-fields" no-padding>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Time off plan *</ion-label>
                <ion-select #ptoPlanSelect [(ngModel)]="ptoPlan" name="ptoPlanSelect">
                  <ion-select-option *ngFor="let p of plans" [value]="p.value">{{p.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="assistive-text">
                <ion-note *ngIf="ptoPlanSelect.value==''" color="danger">Required</ion-note>
                <ion-note *ngIf="ptoPlanSelect.value=='vt'" class="medium-emphasis-text">31.25 hours available
                </ion-note>
                <ion-note *ngIf="ptoPlanSelect.value=='ct'" class="medium-emphasis-text">16.0 hours available
                </ion-note>
                <ion-note *ngIf="ptoPlanSelect.value=='bt'" class="medium-emphasis-text">40.0 hours available
                </ion-note>
                <ion-note *ngIf="ptoPlanSelect.value=='st'" class="medium-emphasis-text">8.5 hours available
                </ion-note>
                &nbsp;
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item no-padding-start>
                <ion-label text-wrap>Partial day</ion-label>
                <ion-toggle #differntAddress name="differentAddress" [(ngModel)]="differentAddressToggleTrue" slot="end"
                  color="secondary" (click)="showAddress()" checked="false"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-sm="4">
              <ion-item>
                <ion-label position="floating">Total hours *</ion-label>
                <ion-input #totalHoursInput value="0.00" clearInput></ion-input>
              </ion-item>
              <div class="assistive-text">
                <ion-note *ngIf="totalHoursInput.value==''" color="danger">Required</ion-note>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" no-padding>
              <div (click)="openCalendar()" lines="none" class="date-range" style="cursor: pointer;">
                <ion-grid class="grid-form-fields" no-padding>
                  <ion-row nowrap align-items-end>
                    <ion-col size="5" size-sm="4">
                      <ion-item class="date-range-input">
                        <ion-label position="floating">Start date *</ion-label>
                        <ion-input #ptoStartDateInput value="Mar 28, 2019"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="2" size-sm="1" text-center align-self-end>
                      <ion-icon size="large" color="secondary" class="date-range-icon" name="calendar"></ion-icon>
                    </ion-col>
                    <ion-col size="5" size-sm="4">
                      <ion-item class="date-range-input">
                        <ion-label position="floating">End date *</ion-label>
                        <ion-input value="Mar 29, 2019"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div class="assistive-text">
                    <ion-note *ngIf="ptoStartDateInput.value==''" color="danger">Required</ion-note>
                    &nbsp;
                  </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Comments</ion-label>
                <ion-textarea rows="5" #ptoComments></ion-textarea>
              </ion-item>
              <ion-item lines="none">
                <ion-text class="ign-caption medium-emphasis-text" clearInput text-right slot="end">
                  {{ptoComments.value.length}} / 1500</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <section class="form-actions">
          <ion-button #saveButton2 class="no-elevation" color="secondary" (click)="successToast()">&nbsp;
            Save &nbsp;
          </ion-button>
          <ion-button color="secondary" fill="outline" (click)="presentCancelAlert()">Cancel</ion-button>
          <ion-button color="secondary" fill="outline" (click)="presentDeleteAlert()">Delete</ion-button>
        </section>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>