<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button size="large"><ion-icon slot="start" name="close"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title class="card-over-title">Form title</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="card-over-content">
  <ion-toolbar class="card-over-toolbar" color="primary" ion-fixed no-padding>
    &nbsp;
  </ion-toolbar>
  <ion-card class="card-over-card">
    <ion-card-header>
      <ion-card-title class="card-over-card-title">Form Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      this is the card content
    </ion-card-content>
  </ion-card>
</ion-content>