@import "../../../theme/breakpoints.scss";

// Background: content canvas
ion-content.card-over-content.hydrated {

  //handset
  @media #{$mq-xxs} {
    --ion-background-color: white ;
  }

  //tablet
  @media #{$mq-xs} {
    --ion-background-color: var(--ion-color-background); ;
  }


  //desktop

}

// Card: main content
ion-card.card-over-card {
  margin: -56px auto 32px auto;
  background: white;
  z-index: 10;

  //handset
  @media #{$mq-xxs} {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding-top: 16px;
    min-height: 100px;
    ion-card-header {
      display: none;
    }
  }

  //tablet portrait
  @media #{$mq-xs} {
    width: 92%;
    padding-top: 20px;
    //padding: 43px 24px 24px 24px;
    ion-toolbar ion-title {
      display: none !important;
    }
  }

  //tablet landscape
  @media #{$mq-s} {
    width: 75%;
    //padding: 43px 32px 32px 32px;
  }

  //laptop
  @media #{$mq-m} {
    width: 75%;
    //padding: 43px 48px 48px 48px;
  }

  //desktop small
  @media #{$mq-l} {
    width: 65%;
    //padding: 43px 48px 48px 48px;
  }

  //desktop medium
  @media #{$mq-xl} {
    width: 65%;
    //padding: 43px 48px 48px 48px;
  }

  //desktop large...
  @media #{$mq-xxl} {
    width: 65%;
    //padding: 43px 48px 48px 48px;
  }
}

/*

//media query sizes
$mq-xxs: 'only screen and (max-width : 599px)';
$mq-xs: 'only screen and (min-width: 600px) and (max-width: 839px)';
$mq-s: 'only screen and (min-width: 840px) and (max-width: 959px)';
$mq-m: 'only screen and (min-width: 960px) and (max-width: 1023px)';
$mq-l: 'only screen and (min-width: 1024px) and (max-width: 1279px)';
$mq-xl: 'only screen and (min-width: 1280px) and (max-width: 1439px)';
$mq-xxl: 'only screen and (min-width: 1440px) and (max-width: 1599px)';
$mq-xxxl: 'only screen and (min-width: 1600px)';

*/
