<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-title>
        <h1 class="ign-display-3">Text Fields</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
<p class="medium-emphasis-text">Text fields (aka inputs) are ...</p>
<h2>Single line</h2>
<ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input #input1></ion-input>
  </ion-item>
<h2>Multi-line (text areas)</h2>
<ion-item>
    <ion-label position="floating">How could we improve?</ion-label>
    <ion-textarea #textarea1></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-text class="ign-caption medium-emphasis-text" slot="start">start</ion-text>
    <ion-text class="ign-caption medium-emphasis-text" text-right slot="end">{{textarea1.value.length}} / 1500</ion-text>
  </ion-item>
</ion-content>
