<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <h1 class="ign-title">Form Example</h1>
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h2>Edit Western Mutual Insurance Company</h2>
  <p>Companies are legal entities: associations, corporations, partnerships, proprietorships, trusts, etc., that have a legitimate standing in the eyes of law.</p>

  <h3>Company information</h3>
  <ion-input></ion-input>

  <h3>Business structure</h3>

  <h3>Address</h3>

</ion-content>
