<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="doc-layout-header">
      <ion-title>
        <h1 class="ign-display-3">App Bars</h1>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="doc-layout">
    <p class="medium-emphasis-text">App bars (aka app bar top) ...</p>
    <h2>Types</h2>
    <h3 class="subheading-2">Single line title</h3>
    <div class="example-panel">
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">Menu icon</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-menu">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">Close icon</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-back">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">Back icon</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-close">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <h3 class="subheading-2">Title with subtitle</h3>
    <div class="example-panel">
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">subtitle</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-subtitle">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <h3 class="subheading-2">Avatar</h3>
    <div class="example-panel">
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">avatar end</h4>
              <div class="example-mobile-outline-short mat-elevation-z16">
                <iframe src="/app-bar-example-avatar">
                  <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
            </ion-col>
            <ion-col text-center>
                <h4 class="ign-caption medium-emphasis-text">avatar start</h4>
                <div class="example-mobile-outline-short mat-elevation-z16">
                  <iframe src="/app-bar-example-avatarstart">
                    <p>Your browser does not support iframes.</p>
                  </iframe>
                </div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    <h3 class="subheading-2">Tabs (aka segments)</h3>
    <div class="example-panel">
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">fixed tabs</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-tabfixed">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">scrolling tabs</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-tab">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
          <ion-col text-center>
            <h4 class="ign-caption medium-emphasis-text">with subtitle</h4>
            <div class="example-mobile-outline-short mat-elevation-z16">
              <iframe src="/app-bar-example-tabsubtitle">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </ion-col>
          <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">with avatar</h4>
              <div class="example-mobile-outline-short mat-elevation-z16">
                <iframe src="/app-bar-example-tabavatar">
                  <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>