<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-title>
        <h1 class="ign-display-3">Form Layout</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <h2>Examples</h2>
  <div class="example-panel">
      <div class="example-mobile-outline mat-elevation-z16">
          <iframe src="/form-example">
            <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>

    <div class="example-panel">
        <div class="example-responsive-outline mat-elevation-z16">
            <iframe src="/form-example">
              <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
  
  <!-- app-form-grid-example></app-form-grid-example -->

</ion-content>