<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="doc-layout-header">
      <ion-title>
        <h1 class="ign-display-3">Buttons</h1>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="doc-layout">
    <p class="medium-emphasis-text">Buttons allow users to take action, and make choices, with a single tap.</p>
    <h2>Types</h2>
    <p class="medium-emphasis-text">Buttons provide levels of emphasis. Text is low emphasis, outlined is medium and
      contained buttons & FABs are the highest level of emphasis .</p>
    <h3 class="subheading-2">Anchor</h3>
    <div class="example-panel">
      <ion-card>
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled</h4>
              <a routerLink="/buttons">Anchor</a>
              <!--ion-anchor color="secondary">anchor</ion-anchor-->
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Disabled</h4>
              <a routerLink="/buttons" disabled="disabled">Anchor</a>
              <!--ion-anchor disabled="true" color="secondary">anchor disabled</ion-anchor-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <h3 class="subheading-2">Text button</h3>
    <p class="medium-emphasis-text">Use text buttons for the lowest emphasis and when...</p>
    <div class="example-panel">
      <ion-card>
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled</h4>
              <ion-button color="secondary" fill="clear">text</ion-button>
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Disabled</h4>
              <ion-button color="secondary" fill="clear" disabled>text</ion-button>
            </ion-col>
            <ion-col text-center>
              <!--
        <h4 class="ign-caption medium-emphasis-text">Hover</h4>
        <ion-button color="secondary" fill="clear">text</ion-button>
        -->
            </ion-col>
            <ion-col text-center>
              <!--
        <h4 class="ign-caption medium-emphasis-text">Focused</h4>
        <ion-button color="secondary" fill="clear">text</ion-button>
      -->
            </ion-col>
            <ion-col text-center>
              <!--
          <h4 class="ign-caption medium-emphasis-text">Pressed</h4>
          <ion-button color="secondary" fill="clear">text</ion-button>
        -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <h3 class="subheading-2">Outlined</h3>
    <p class="medium-emphasis-text">Outlined buttons indicate medium emphasis and should be used sparingly important,
      secondary actions.</p>

    <div class="example-panel">
      <ion-card>
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled</h4>
              <ion-button color="secondary" fill="outline">outlined</ion-button>
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Disabled</h4>
              <ion-button disabled color="secondary" fill="outline">outlined</ion-button>
            </ion-col>
            <ion-col text-center>
              <!--
          
                    -->
            </ion-col>
            <ion-col text-center>
              <!--
          
                  -->
            </ion-col>
            <ion-col text-center>
              <!--
          
                    -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>



    <h3 class="subheading-2">Contained</h3>
    <p class="medium-emphasis-text">Contained buttons indicate the highest emphasis and should be used sparingly to
      indicate the primary or most important action in a screen.</p>
    <h4>Elevated</h4>
    <p class="medium-emphasis-text">Use elevated contained buttons on surfaces that are not elevated.</p>
    <div class="example-panel">
      <ion-card>
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled</h4>
              <ion-button color="secondary">contained</ion-button>
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Disabled</h4>
              <ion-button disabled color="secondary">contained</ion-button>
            </ion-col>
            <ion-col text-center>
              <!--

          -->
            </ion-col>
            <ion-col text-center>
              <!--

        -->
            </ion-col>
            <ion-col text-center>
              <!--

          -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <h4>Flat</h4>
    <p class="medium-emphasis-text">Use flat contained buttons on surfaces that are already elevated like cards, for
      example the main content card in the card-over layout.</p>
    <div class="example-panel">
      <ion-card>
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled</h4>
              <ion-button class="no-elevation" color="secondary">contained</ion-button>
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Disabled</h4>
              <ion-button disabled class="no-elevation" color="secondary">contained</ion-button>
            </ion-col>
            <ion-col text-center>
              <!--

          -->
            </ion-col>
            <ion-col text-center>
              <!--

        -->
            </ion-col>
            <ion-col text-center>
              <!--

          -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <h3 class="subheading-2">Icon buttons</h3>
    <p class="medium-emphasis-text">Use icon buttons for actions where easily recognizable metaphors help conserve space
      (e.g., in the top app bar).</p>
    <div class="example-panel">
      <ion-card>
        <ion-grid no-padding>
          <ion-row>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled active</h4>
              <ion-button size="large" fill="clear" color="secondary" class="active-icon">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Enabled inactive</h4>
              <ion-button size="large" fill="clear" class="inactive-icon" color="secondary">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center>
              <h4 class="ign-caption medium-emphasis-text">Disabled</h4>
              <ion-button size="large" fill="clear" disabled color="secondary">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center>
              <!--

        -->
            </ion-col>
            <ion-col text-center>
              <!--

          -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </div>
</ion-content>