<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      <h1 class="ign-display-3">Buttons</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="medium-emphasis-text">Buttons allow users to take action, and make choices, with a single tap.</p>
  <h2>Types</h2>
  <p class="medium-emphasis-text">Buttons provide levels of emphasis. Text is low emphasis, outlined is medium and
    contained buttons & FABs are the highest level of emphasis .</p>
  <h3>Text (button & link)</h3>
  <ion-anchor color="secondary">anchor</ion-anchor>
  <ion-anchor disabled color="secondary">anchor disabled</ion-anchor>
  <p>
      <ion-button color="secondary" fill="clear">outlined</ion-button>
  </p>
  <h3>Outlined</h3>
<p>
  <ion-button color="secondary" fill="outline">outlined</ion-button>
</p>
<p>
  <ion-button disabled color="secondary" fill="outline">outlined</ion-button>
</p>

<h3>Contained</h3>
<h4>Elevated</h4>
<p>
  <ion-button color="secondary">contained</ion-button>
</p>
<p>
  <ion-button disabled color="secondary">contained</ion-button>
</p>
<h4>Flat</h4>
<p>
  <ion-button class="no-elevation" color="secondary">contained</ion-button>
</p>
<p>
  <ion-button disabled class="no-elevation" color="secondary">contained</ion-button>
</p>
</ion-content>