<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      <h1 class="ign-display-3">Card-Over layout</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="medium-emphasis-text"></p>
  <h2>Examples</h2>
  <div class="example-panel">
      <div class="example-mobile-outline mat-elevation-z16">
          <iframe src="/card-over-example">
            <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>
    <div class="example-panel">
        <div class="example-tablet-outline mat-elevation-z16">
            <iframe src="/card-over-example">
              <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
      <div class="example-panel">
          <div class="example-desktop-outline mat-elevation-z16">
              <iframe src="/card-over-example">
                <p>Your browser does not support iframes.</p>
            </iframe>
          </div>
        </div>
</ion-content>