<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      <h1 class="ign-display-3">Card-Over layout</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="medium-emphasis-text"></p>
  <div class="example-panel">
    <div class="example-mobile-outline mat-elevation-z16" style="position: relative;">
      <app-card-over-example></app-card-over-example>
    </div>
  </div>

</ion-content>