<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button size="large"><ion-icon slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        <div>App Bar Example 2</div>
        <div class="ign-subheading-1">Subtitle</div>
      </ion-title>
      <ion-buttons slot="end">
          <ion-button size="large"><ion-icon name="edit"></ion-icon></ion-button>
          <ion-button size="large"><ion-icon name="more"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

</ion-content>
