//media query sizes (for mobile)
$mq-xxs: 'only screen and (min-width: 0px)';
$mq-xs: 'only screen and (min-width: 600px)';
$mq-s: 'only screen and (min-width: 840px)';
$mq-m: 'only screen and (min-width: 960px)';
$mq-l: 'only screen and (min-width: 1024px)';
$mq-xl: 'only screen and (min-width: 1280px)';
$mq-xxl: 'only screen and (min-width: 1440px)';
$mq-xxxl: 'only screen and (min-width: 1600px)';