//for doc examples
//side nav menu
ion-menu.menu-type-overlay.menu-enabled.menu-side-start.hydrated.split-pane-side.menu-pane-visible {
  max-width: 360px;
}


//buttons
ion-anchor {
  padding-right: 16px !important;
}
ion-anchor:hover {
  text-decoration: underline;
  cursor: pointer;
}

//contained, flat buttons
//contained button requires class to remove shadow (To Do: have tokens for elevation)
.no-elevation {
  --box-shadow: none;
}


//elevation move to elevation tokens
.mat-elevation-z16 {
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
}

//fieldset reset
fieldset {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: min-content;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: initial;
}

//text fields additional elements
.assistive-text {
  padding: 4px 16px 0 16px;
}


//need to integrate w/ modal?
.modal-wrapper.modal-wrapper-md.sc-ion-modal-md {
  --min-height: 420px !important;
}

//anchor tag defaults
a, a:visited {
  color: var(--ion-color-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
  color: var(--ion-disabled-text);
}


//avatar styles
.avatar-md {
  height: 40px !important;
  width: 40px !important;
}
.avatar-lg {
  height: 72px !important;
  width: 72px !important;
}
.avatar-xl {
  height: 88px !important;
  width: 88px !important;
}




//icon as avatar
.avatar-icon {
  opacity: .5;
  background: var(--ion-color-primary-tint);
  text-align: center;
  ion-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
    margin-top: 8px;
    &[size="large"] {
      margin-top: 16px;
    }
  }

}

//css placement
.object-center, [object-center] {
  margin-left: auto !important;
  margin-right: auto !important;
}


//set app bar button height width : accessibility
ion-button.ion-activatable:not(.button-large), ion-buttons.sc-ion-buttons-md-h.sc-ion-buttons-md-s.hydrated ion-button {
  min-height: 48px !important;
  min-width: 48px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
