@import "src/css/breakpoints.scss"; 
:root {

  --ion-color-primary: #1B7F66;
  --ion-color-primary-rgb: 27,127,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0D533D; //dark
  --ion-color-primary-tint: #B5E1D8; //light

  --ion-color-secondary: #1374B4;
  --ion-color-secondary-rgb: 15,71,144;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0D5D90; //dark
  --ion-color-secondary-tint: #BBDDF5;  //light

  /*
  --ion-color-secondary: #0F4790;
  --ion-color-secondary-rgb: 15,71,144;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0A2B58; //dark
  --ion-color-secondary-tint: #BBDDF5;  //light
  */

  --ion-color-tertiary: #509E2F;
  --ion-color-tertiary-rgb: 80,158,47;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #468b29;
  --ion-color-tertiary-tint: #62a844;

  --ion-color-success: #509E2F;
  --ion-color-success-rgb: 80,158,47;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #468b29;
  --ion-color-success-tint: #62a844;

  --ion-color-warning: #FDB744;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #FEE0AF;
  --ion-color-warning-tint: #E65000;

  --ion-color-danger: #DC0C22;
  --ion-color-danger-rgb: 220,12,34;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c20b1e;
  --ion-color-danger-tint: #e02438;

  --ion-color-error: #DC0C22;
  --ion-color-error-rgb: 220,12,34;
  --ion-color-error-contrast: #ffffff;
  --ion-color-error-contrast-rgb: 255,255,255;
  --ion-color-error-shade: #c20b1e;
  --ion-color-error-tint: #e02438;


  --ion-color-dark: #41403E;
  --ion-color-dark-rgb: 65,64,62;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #393837;
  --ion-color-dark-tint: #545351;

  --ion-color-medium: #aaaaaa;
  --ion-color-medium-rgb: 170,170,170;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #969696;
  --ion-color-medium-tint: #b3b3b3;

  --ion-color-light: #F5F4F2;
  --ion-color-light-rgb: 245,244,242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8d7d5;
  --ion-color-light-tint: #f6f5f3;

  //background color (content canvas)
  --ion-color-background: var(--ion-color-light);

  //transparent
  --ion-color-transparent: transparent;

  //global color
  --black-rgb: 0,0,0;
  --white-rgb: 255,255,255;

  //text color: black
  --ion-high-emphasis-text: #212121; //rgba(0,0,0,.87);
  --ion-medium-emphasis-text: #666; //rgba(0,0,0,.60);
  --ion-disabled-text: #9E9E9E;//rgba(0,0,0,.38);

  //text color primary = must be darker/shade version of primary!!!!
  --ion-color-primary-text: var(--ion-color-primary-shade);

  .text-primary-color {
    color: var(--ion-color-primary-text) !important;
  }
  

  --ion-text-color: #212121; //equivalent to rgba .87
  --ion-text-color-rgb: rgb(33,33,33);

  //disabled opacity
  //--ion-button-opacity: .38 !important;

  //icon color
  --ion-active-icon-black:  #212121; //rgba(0,0,0,.87);
  --ion-inactive-icon-black: #757575; //rgba(0,0,0,.54);
  --ion-disabled-icon-black: #9E9E9E; //rgba(0,0,0,.38);

  ion-icon.icon-button-states {
    /*
    opacity: .54;
    &:hover {
      opacity: .87 !important;
    }
    */
    color: #757575;
    &:hover {
      opacity: #212121 !important;
    }
  }


/* other variables */
/*
--ion-background-color: initial;
--ion-background-color-rgb: initial;
--ion-text-color: rgba(black,.87);
--ion-text-color-rgb: #212121;
--ion-backdrop-color: initial;
--ion-overlay-background-color: initial;
--ion-border-color: initial;
--ion-box-shadow-color: initial;
--ion-tab-bar-background: initial;
--ion-tab-bar-background-focused: initial;
--ion-tab-bar-border-color: initial;
--ion-tab-bar-color: initial;
--ion-tab-bar-color-activated: initial;
--ion-toolbar-background: initial;
--ion-toolbar-border-color: initial;
--ion-toolbar-color: initial;
--ion-toolbar-color-activated: initial;
--ion-toolbar-color-unchecked: initial;
--ion-toolbar-color-checked: initial;
--ion-item-background: initial;
--ion-item-background-activated: initial;
--ion-item-border-color: initial;
--ion-item-color: initial;
--ion-placeholder-color: initial;
--ion-color-contrast: #ccc;
*/

--ion-input-md-input-clear-icon-svg: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M256 48C140.559 48 48 140.559 48 256c0 115.436 92.559 208 208 208 115.435 0 208-92.564 208-208 0-115.441-92.564-208-208-208zm104.002 282.881l-29.12 29.117L256 285.117l-74.881 74.881-29.121-29.117L226.881 256l-74.883-74.881 29.121-29.116L256 226.881l74.881-74.878 29.12 29.116L285.119 256l74.883 74.881z'/></svg>";

//grid settings
--ion-grid-column-padding:        8px;

--ion-grid-column-padding-xs:     8px;
--ion-grid-column-padding-sm:     8px;
--ion-grid-column-padding-md:     8px;
--ion-grid-column-padding-lg:     8px;
--ion-grid-column-padding-xl:     8px;


}


//default overrides
//selected radio button default

//selected check box button default


//outline buttons: default to 2px instead of 1

.button-outline {
  --border-width: 1px;
}
button.button-native {
  border-width: 1px;
}

//buttons in dialogs
.alert-button.sc-ion-alert-md {
  color:  var(--ion-color-secondary);
}

//radio & checkbox buttons
.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--ion-color-secondary);
}

[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-secondary);
}



//dialogs (alerts) as modal screen (for greater form element functionality)
.modal-dialog div[role='dialog'] {
  max-height: 90% !important;
  max-width: 90% !important;
}

ion-radio {
  --color-checked: var(--ion-color-secondary);
}

//text fields (inputs) & text areas
//floating labels
ion-label.label-floating {
  --color: var(--ion-medium-emphasis-text) !important;
}

//focus input divider border: make secondary rather than primary!
ion-item {
  --highlight-color-focused: var(--ion-color-secondary) !important;
}

//text field background color to new match MD spec
ion-item.item-input, ion-item.item-select, ion-item.item-toggle {
  --border-radius: 4px 4px 0 0;
  //--background: rgba(0,0,0,.04);
  --background: #f7f7f7;
  --padding-start: 12px;

  //fix spacing to match MD spec for inputs and selects (overall height)
  .native-input.sc-ion-input-md, ion-select {
    --padding-top: 0;
  }

}

/************ reorganize *****************/

//input widths
//x-small: 1-4 characters
.input-xs {
  width: 114px;
}


//small: 5-17 characters
.input-s {
 width: 188px;
}
//medium: 18-32 characters
.input-m {
 width: 336px;
 @media #{$mq-xxs} {
   width: 100%;
 }
}

//33-60 characters
.input-l {
  width: 504px;
  @media #{$mq-xxs} {
    width: 100%;
  }
}
//61+ characters
.input-full {
  width: 600px;
  @media #{$mq-xxs} {
    width: 100%;
  }
}


//input clear icon; to better differentiate between 'close' vs 'clear'
.input-clear-icon.sc-ion-input-md {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgba(0,0,0,.54)' d='M256 48C140.559 48 48 140.559 48 256c0 115.436 92.559 208 208 208 115.435 0 208-92.564 208-208 0-115.441-92.564-208-208-208zm104.002 282.881l-29.12 29.117L256 285.117l-74.881 74.881-29.121-29.117L226.881 256l-74.883-74.881 29.121-29.116L256 226.881l74.881-74.878 29.12 29.116L285.119 256l74.883 74.881z'/></svg>");
}

//text fields additional elements: make assistive text align to input text
.assistive-text {
  padding: 4px 12px 0 12px;
}

//text fields floating label size to be 14px
.item-has-value .label-floating.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h {
  -webkit-transform: translateZ(0) scale(.9);
  transform: translateZ(0) scale(.9);
}


//simple filter
ion-item.filter-simple, ion-item.ion-select.filter-simple {
  --padding-start: 0;
  --background: rgba(0,0,0,0);
    background-color: transparent !important;
  }
  ion-select.in-item {
    max-width: unset;
    --padding-start: 0;
  }



//buttons
//change to sentence case

.sentence-case {
  text-transform: lowercase;
  
	&:first-letter {
		text-transform: capitalize !important;
	}
}


ion-button, .alert-button.sc-ion-alert-md {
  text-transform: capitalize !important;
}

//ion 2 calendar: selected days background
button.days-btn.today.on-selected {
  //background-color: var(--ion-color-secondary) !important;
}

//alert select menu
//make first option in selection list be medium emphasis text 'none selected'
button.alert-radio-button:first-child .alert-radio-label.sc-ion-alert-md [value="0"] {
  color: rgba(0,0,0,.6);
 }