<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header no-border>
        <ion-toolbar color="dark">
          &nbsp;
        </ion-toolbar>
        <ion-toolbar color="dark">
          <ion-title>Design System</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
          <!-- home links -->
          <ion-item  *ngFor="let a of appPages" lines="none" [routerDirection]="'root'" [routerLink]="[a.url]">
              <ion-label>
                {{a.title}}
              </ion-label>
            </ion-item>
            <ion-item-divider>
                <ion-label>
                  Foundation
                </ion-label>
              </ion-item-divider>
              <ion-item  *ngFor="let f of foundationPages" lines="none" [routerDirection]="'root'" [routerLink]="[f.url]">
                  <ion-label>
                    {{f.title}}
                  </ion-label>
              </ion-item>
           <!-- pattern links -->
           <ion-item-divider>
              <ion-label>
                Patterns & components
              </ion-label>
            </ion-item-divider>
            <ion-item  *ngFor="let p of patternPages" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
