<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="doc-layout-header">
      <ion-title>
        <h1 class="ign-display-3">Banners</h1>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="doc-layout">
    <p class="medium-emphasis-text">A banner displays an important, succinct message, and provides actions for users to address (or dismiss the banner). It requires a user action to be dismissed.
    </p><p class="medium-emphasis-text">Banners should be displayed at the top of the screen, below a top app bar. They are persistent and nonmodal, allowing the user to either ignore them or interact with them at any time.</p>
    <div class="example-panel">
                <div class="example-mobile-outline-short mat-elevation-z16">
                    <iframe src="/banner-example">
                      <p>Your browser does not support iframes.</p>
                  </iframe>
                </div>
                <div class="example-responsive-outline-short mat-elevation-z16">
                    <iframe src="/banner-example">
                      <p>Your browser does not support iframes.</p>
                  </iframe>
                </div>
            </div>

    <h3 class="subheading-2">Examples</h3>
    <p class="medium-emphasis-text">with optional icon and background color</p>
    <div class="example-panel">
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="*">
              <div class="example-mobile-outline-short mat-elevation-z16">
                  <iframe src="/banner-info-example">
                    <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
          </ion-col>
          <ion-col size="*">
              <div class="example-mobile-outline-short mat-elevation-z16">
                  <iframe src="/banner-warning-example">
                    <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
          </ion-col>
          <ion-col size="*">
              <div class="example-mobile-outline-short mat-elevation-z16">
                  <iframe src="/banner-error-example">
                    <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      </div>
  </div>

</ion-content>