<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button size="large">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="card-over-title">
        <h1>Fab Example</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-toolbar color="primary">
      tabs
      </ion-toolbar>
  <div padding>
    <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
        <ion-fab-button color="secondary" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <ion-list>
      <ion-item *ngFor="let b of banks" [lines]="this!==last">
        <ion-label>
          <h2>{{b.nickname}}</h2>
          <h3>{{b.name}}{{b.account}}</h3>
          <p class="medium-emphasis-text">{{b.amount}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
