//gray panel to house examples
div.example-panel {

  --ion-grid-column-padding:        8px;

  --ion-grid-column-padding-xs:     4px;
  --ion-grid-column-padding-sm:     8px;
  --ion-grid-column-padding-md:     12px;
  --ion-grid-column-padding-lg:     16px;
  --ion-grid-column-padding-xl:     24px;


  ion-grid {
    max-width: 1440px;
  }


//to do: set grid padding
  //remove margin around card
  ion-col ion-card.sc-ion-card-md-h {
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}
  

  background-color: #ededed;
  border: 1px solid #dedede;
  //padding: 48px;
  margin: 0 0 48px 0;

  //handset
  @media #{$mq-xxs} {
    padding: 8px;
  }

  //tablet portrait
  @media #{$mq-xs} {
    padding: 8px;
  }

  //tablet landscape
  @media #{$mq-s} {
    padding: 8px;
  }

  //laptop
  @media #{$mq-m} {
    padding: 16px;
  }

  //desktop small
  @media #{$mq-l} {
    padding: 24px;
  }

  //desktop medium
  @media #{$mq-xl} {
    padding: 32px;
  }

  //desktop large...
  @media #{$mq-xxl} {
    padding: 48px;
  }
  ion-card {
    --background: white;
  }
}

.example-mobile-outline, .example-mobile-outline-short {
  background-color: white;
  //height: 640px;
  width: 360px;
  //width: 75%;
  margin: 0 auto 32px auto;
  iframe {
    border: none;
    height: 640px;
    width: 100%;
  }
}

.example-mobile-outline-short, .example-responsive-outline-short { 
  iframe { 
    height: 220px !important;
  }
}


.example-tablet-outline {
  background-color: white;
  //height: 640px;
  max-width: 768px;
  margin: 0 auto;
  iframe {
    border: none;
    height: 1024px;
    width: 100%;
  }
}

.example-desktop-outline {
  background-color: white;
  //height: 640px;
  min-width: 1024px;
  margin: 0 auto;
  iframe {
    border: none;
    height: 768px;
    width: 100%;
  }
}

.example-responsive-outline, .example-responsive-outline-short {
  background-color: white;
  //height: 640px;
  min-width: 360px;
  max-width: 1280px;
  margin: 0 auto;
  iframe {
    border: none;
    height: 1024px;
    width: 100%;
  }
}

$pink: #FA34B4;

.callout-background {
  //background-color: rgba($pink, .25);
}
.callout-border {
  //border: 1px dashed $pink;
}