<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      <h1 class="ign-display-3">Grids (layout)</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Ion grid</h2>
  <p class="medium-emphasis-text">Ionic OOB configurable grid</p>
  <!-- h3>Examples</h3-->
  <!-- section class="ionic-examples">
      <ion-grid style="background: lightcyan;">
          <ion-row>
            <ion-col>
              <div>ion-col</div>
            </ion-col>
            <ion-col>
                <div>ion-col</div>
            </ion-col>
            <ion-col>
                <div>ion-col</div>
            </ion-col>
            <ion-col>
                <div>ion-col</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="6">
              <div>ion-col [size="6"]</div>
            </ion-col>
            <ion-col>
                <div>ion-col</div>
            </ion-col>
            <ion-col>
                <div>ion-col</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="3">
                <div>ion-col [size="3"]</div>
            </ion-col>
            <ion-col>
                <div>ion-col</div>
            </ion-col>
            <ion-col size="3">
                <div>ion-col [size="3"]</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="3">
              <div>ion-col [size="3"]</div>
            </ion-col>
            <ion-col size="3" offset="3">
              <div>ion-col [size="3"] [offset="3"]</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              <div>ion-col</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#
              <br>#</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#
              <br>#
              <br>#</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col align-self-start>
              <div>ion-col [start]</div>
            </ion-col>
            <ion-col align-self-center>
              <div>ion-col [center]</div>
            </ion-col>
            <ion-col align-self-end>
              <div>ion-col [end]</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#
              <br>#</div>
            </ion-col>
          </ion-row>
        
          <ion-row align-items-start>
            <ion-col>
                <div>[start] ion-col</div>
            </ion-col>
            <ion-col>
                <div>[start] ion-col</div>
            </ion-col>
            <ion-col align-self-end>
                <div>[start] ion-col [end]</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#
              <br>#</div>
            </ion-col>
          </ion-row>
        
          <ion-row align-items-center>
            <ion-col>
                <div>[center] ion-col</div>
            </ion-col>
            <ion-col>
                <div>[center] ion-col</div>
            </ion-col>
            <ion-col>
                <div>[center] ion-col</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#
              <br>#</div>
            </ion-col>
          </ion-row>
        
          <ion-row align-items-end>
            <ion-col>
                <div>[end] ion-col</div>
            </ion-col>
            <ion-col align-self-start>
                <div>[end] ion-col [start]</div>
            </ion-col>
            <ion-col>
                <div>[end] ion-col</div>
            </ion-col>
            <ion-col>
              <div>ion-col
              <br>#
              <br>#</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="12" size-sm>
              <div>ion-col [size="12"] [size-sm]</div>
            </ion-col>
            <ion-col size="12" size-sm>
              <div>ion-col [size="12"] [size-sm]</div>
            </ion-col>
            <ion-col size="12" size-sm>
              <div>ion-col [size="12"] [size-sm]</div>
            </ion-col>
            <ion-col size="12" size-sm>
              <div>ion-col [size="12"] [size-sm]</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="12" size-md>
              <div>ion-col [size="12"] [size-md]</div>
            </ion-col>
            <ion-col size="12" size-md>
              <div>ion-col [size="12"] [size-md]</div>
            </ion-col>
            <ion-col size="12" size-md>
              <div>ion-col [size="12"] [size-md]</div>
            </ion-col>
            <ion-col size="12" size-md>
              <div>ion-col [size="12"] [size-md]</div>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="6" size-lg offset="3">
              <div>ion-col [size="6"] [size-lg] [offset="3"]</div>
            </ion-col>
            <ion-col size="3" size-lg>
              <div>ion-col [size="3"] [size-lg]</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
  </section-->

  <!-- h3>Form Inputs</h3-->
  <!-- 
    input widths
.input-s {width: 104px;} /* 1-8 characters */
.input-m {width: 160px;} /* 9 - 32 characters */
.input-l {width: 448px;}  /* 33-66 characters */
.input-full {width: 100%;}  /* 66+ characters */

  -->
  <!-- ion-grid class="ion-grid-example" style="background: gray">
      <ion-row>
        <ion-col>
            <div class="input-full">Input full</div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <div class="input-l">Input l</div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="input-m">Input m</div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <div class="input-s">Input s</div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="input-xs">Input xs</div>
                </ion-col>
              </ion-row>
    </ion-grid -->


  <h3>Quarters</h3>
  <ion-grid class="ion-grid-example">
    <ion-row>
      <ion-col>
        <div>
          A,B,C,D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          A,B
        </div>
      </ion-col>
      <ion-col>
        <div>
          C,D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <div>
          A,B,C
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div>
          A
        </div>
      </ion-col>
      <ion-col size="9">
        <div>
          B,C,D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div>
          A
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          B,C
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div>
          A,B
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          C
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div>
          A
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          B
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          C,D
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          A
        </div>
      </ion-col>
      <ion-col>
        <div>
          B
        </div>
      </ion-col>
      <ion-col>
        <div>
          C
        </div>
      </ion-col>
      <ion-col>
        <div>
          D
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h3>Thirds</h3>
  <ion-grid class="ion-grid-example">
      <ion-row>
        <ion-col>
          <div>
            A,B,C
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div>
            A,B
          </div>
        </ion-col>
        <ion-col size="4">
          <div>
            C
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div>
            A
          </div>
        </ion-col>
        <ion-col size="8">
          <div>
            B,C
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="4">
            <div>
              A
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              B
            </div>
          </ion-col>
          <ion-col size="4">
              <div>
                C
              </div>
            </ion-col>
        </ion-row>      
      
    </ion-grid>

  <h2>CSS (layout) grid</h2>
  <p class="medium-emphasis-text">Browser support: IE: 10+ partial support with -ms- prefix; Chrome: 57+ supported; Firefox: 52+ supported; Safari:
    10.1+ supported <a href="https://caniuse.com/#feat=css-grid">See all</a></p>
  <section class="container grid-demo">
    <h3>Quarters</h3>
    <section class="whole-width">
      <div class="box box-a">
        <h1 class="child-title">A,B,C,D</h1>
      </div>
    </section>
    <section class="half-width">
      <div class="box box-a">
        <h1 class="child-title">A,B</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">C,D</h1>
      </div>
    </section>

    <section class="three-quarter-one-quarter-width">
      <div class="box box-a">
        <h1 class="child-title">A,B,C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="one-quarter-three-quarter-width">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">B,C,D</h1>
      </div>
    </section>

    <section class="quarter-half-quarter">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B,C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="half-quarter-quarter">
      <div class="box box-a">
        <h1 class="child-title">A,B</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="quarter-quarter-half">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C,D</h1>
      </div>
    </section>

    <section class="four-quarters">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>


    <h3>Thirds</h3>
    <section class="row-9">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C</h1>
      </div>
    </section>
    <section class="row-10">
      <div class="box box-a">
        <h1 class="child-title">A, B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C</h1>
      </div>
    </section>
    <section class="row-11">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B, C</h1>
      </div>
    </section>

  </section>

  <h2>CSS Flex</h2>
  <p>Browser support: IE: 10+ partial support with -ms- prefix; Chrome: 57+ supported; Firefox: 52+ supported; Safari:
    10.1+ supported <a href="https://caniuse.com/#feat=css-grid">See all</a></p>
  <section class="container flex-demo">
    <h3>Quarters</h3>
    <section class="whole-width">
      <div class="box box-a">
        <h1 class="child-title">A,B,C,D</h1>
      </div>
    </section>

    <section class="three-quarter-one-quarter-width">
      <div class="box box-a">
        <h1 class="child-title">A,B,C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="one-quarter-three-quarter-width">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">B,C,D</h1>
      </div>
    </section>

    <section class="half-width">
      <div class="box box-a">
        <h1 class="child-title">A,B</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">C,D</h1>
      </div>
    </section>

    <section class="four-quarters">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="quarter-half-quarter">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B,C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="half-quarter-quarter">
      <div class="box box-a">
        <h1 class="child-title">A,B</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">C</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">D</h1>
      </div>
    </section>

    <section class="row-8">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C,D</h1>
      </div>
    </section>
    <h3>Thirds</h3>
    <section class="row-9">
      <div class="box box-a">
        <h1 class="child-title">A</h1>
      </div>
      <div class="box box-a">
        <h1 class="child-title">B</h1>
      </div>
      <div class="box box-b">
        <h1 class="child-title">C,D</h1>
      </div>
    </section>
  </section>
</ion-content>