//input widths
.input-xxs {max-width: 56px} /* 1-4 characters */
.input-xs {max-width: 104px;} /* 5-8 characters */
.input-s {max-width: 160px;} /* 9 - 16 characters */
.input-m {max-width: 380px;} /* 17-32 characters */
.input-l {max-width: 448px;}  /* 33-66 characters */
.input-full {width: 100%;}  /* 66+ characters */

.input-xxs {max-width: 48px} /* 1-4 characters */
.input-xs {max-width: 96px;} /* 5-8 characters */
.input-s {max-width: 160px;} /* 9 - 16 characters */
.input-m {max-width: 320px;} /* 17-32 characters */
.input-l {max-width: 448px;}  /* 33-66 characters */
.input-full {width: 100%;}  /* 66+ characters */
