<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button size="large"><ion-icon slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        <div>App Bar Example 3</div>
        <div class="ign-subheading-1">Subtitle</div>
      </ion-title>
      <ion-buttons slot="end">
          <ion-button size="large"><ion-icon name="trash"></ion-icon></ion-button>
          <ion-button size="large"><ion-icon name="more"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-segment scrollable>
            <ion-segment-button checked>
                <ion-label>Tab one</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>Tab two</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>Tab three</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>Tab four</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>Tab five</ion-label>
            </ion-segment-button>
          </ion-segment>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>

  </ion-list>

</ion-content>
