<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <div class="doc-layout-header">
          <ion-title>
            <h1 class="ign-display-3">Snackbars</h1>
          </ion-title>
        </div>
      </ion-toolbar>
  </ion-header>

<ion-content padding>
  
  <!--
  <ion-button expand="block" id="showBottomToast" onclick="presentToast('bottom')">Show Toast Bottom</ion-button>
      
        <ion-button expand="block" id="showTopToast" onclick="presentToast('top')">Show Toast Top</ion-button>
        <ion-button expand="block" id="showMiddleToast" onclick="presentToast('middle')">Show Toast Middle</ion-button>
        <ion-button expand="block" onclick="presentToastWithOptions({message: 'Two-line message\nwith action.', showCloseButton: true, closeButtonText: 'Action'})">Show Toast with long message</ion-button>
        <ion-button expand="block" onclick="presentToastWithOptions({message: 'click to close', showCloseButton: true})">Show Toast with Close Button</ion-button>
        <ion-button expand="block" onclick="presentToastWithOptions({message: 'click to close', showCloseButton: true, closeButtonText: 'closing time'})">Show Toast with Custom Close Button Text</ion-button>
        <ion-button expand="block" onclick="presentToastWithOptions({message: 'click to close', showCloseButton: true, translucent: true})">Show Translucent Toast</ion-button>
        <ion-button expand="block" onclick="presentToastWithOptions({message: 'click to close', showCloseButton: true, color: 'danger'})">Show Color Toast</ion-button>
        <ion-button expand="block" onclick="presentToastWithOptions({message: 'click to close', showCloseButton: true, cssClass: 'my-custom-class'})">Show Toast with Custom Class</ion-button>
  -->
</ion-content>

<ion-content padding>
    <div class="doc-layout">
        <p class="medium-emphasis-text">Snackbars (aka 'Toasts') inform users of a process that an app has performed or will perform. They appear temporarily, towards the bottom of the screen. They shouldn’t interrupt the user experience, and they don’t require user input to disappear.</p>
      <h2>Types</h2>
      <p class="medium-emphasis-text">Description of particular type</p>
      <h3 class="subheading-2">Subheading</h3>
      <div class="example-panel">
        <ion-card>
          <ion-grid no-padding>
            <ion-row>
              <ion-col text-center>
                <h4 class="ign-caption medium-emphasis-text">state</h4>
                <ion-button (click)="successToast()" color="secondary">show snackbar</ion-button>
              </ion-col>
              <ion-col text-center>
                  <h4 class="ign-caption medium-emphasis-text">state</h4>
              </ion-col>           
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  
  </ion-content>
